.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.heading {
  color: var(--main-color);
  font-size: 36px;
  margin-bottom: 36px;
}

.stanza_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.body1,
.body2 {
  color: var(--main-white);
  font-size: 25px;
}
