.signUpGrid {
  row-gap: 18px;
}

.gridItemHeadingAndLink {
  text-align: center;
  width: 100%;
}

.gridItemInput {
  width: 100%;
}

.heading {
  color: var(--main-white);
}

.signInLink {
  color: var(--main-white);
  text-decoration: underline;
}