.header {
  color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 36px 30px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }
}

.links {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
    gap: 30px;
  }
}

.theta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
