.header {
  color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 36px 30px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.logo {
}

.links {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
  }
}

.link {
  padding: 0 30px;
}

.theta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
